.header {
  width: 100%;
  height: 150px;
  background-color: whitesmoke;
  display: flex;
}
.header__logo {
  width: 30%;
  height: 150px;
}
.header__options {
  width: 60%;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  margin: auto;
  color: #aca9af;
}
.header__logo__img {
  height: 90%;
  width: 90%;
  object-fit: cover;
}
.header__search {
  margin-top: 65px;
  margin-right: 120px;
  color: #aca9af;
}
